<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kevin.mem.mng.domain.mapper.AuthModuleMapper">
	
	<!-- 基础数据-->
	<resultMap id="BaseResultMap" type="com.kevin.mem.mng.domain.entity.AuthModule" >
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="module_id" property="moduleId"/>
		<result column="moduleName" property="moduleName"/>
		<result column="url" property="url"/>
		<result column="type" property="type"/>
		<result column="status" property="status"/>
		<result column="remark" property="remark"/>
		<result column="is_deleted" property="isDeleted"/>
		<result column="create_by" property="createBy"/>
		<result column="update_by" property="updateBy"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	
	<sql id="Base_Column_List">
			id,  name,  module_id,  url,  type,  status,  remark,  is_deleted,  create_by,  update_by,  create_time,  update_time
	</sql>

	<!--新增接口开始-->
	<insert id="insert" parameterType="com.kevin.mem.mng.domain.entity.AuthModule" >
		insert into t_mem_auth_module
		<trim prefix="(" suffix=")" suffixOverrides=",">
		<if test="id != null">
			id,
			</if>
			<if test="name != null">
			name,
			</if>
			<if test="moduleId != null">
			module_id,
			</if>
			<if test="url != null">
			url,
			</if>
			<if test="type != null">
			type,
			</if>
			<if test="status != null">
			status,
			</if>
			<if test="remark != null">
			remark,
			</if>
			<if test="isDeleted != null">
			is_deleted,
			</if>
			<if test="createBy != null">
			create_by,
			</if>
			<if test="updateBy != null">
			update_by,
			</if>
			<if test="createTime != null">
			create_time,
			</if>
			<if test="updateTime != null">
			update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="id != null">
			#{id},
		</if>
			<if test="name != null">
			#{name},
			</if>
			<if test="moduleId != null">
			#{moduleId},
			</if>
			<if test="url != null">
			#{url},
			</if>
			<if test="type != null">
			#{type},
			</if>
			<if test="status != null">
			#{status},
			</if>
			<if test="remark != null">
			#{remark},
			</if>
			<if test="isDeleted != null">
			#{isDeleted},
			</if>
			<if test="createBy != null">
			#{createBy},
			</if>
			<if test="updateBy != null">
			#{updateBy},
			</if>
			<if test="createTime != null">
			#{createTime},
			</if>
			<if test="updateTime != null">
			#{updateTime},
			</if>
		</trim>
	</insert>

	<!--更新接口开始-->
	<update id="updateById" parameterType="com.kevin.mem.mng.domain.entity.AuthModule" >
		update t_mem_auth_module
		<set>
			<if test="name != null">
				name = #{name},
			</if>
			<if test="moduleId != null">
				module_id = #{moduleId},
			</if>
			<if test="url != null">
				url = #{url},
			</if>
			<if test="type != null">
				type = #{type},
			</if>
			<if test="status != null">
				status = #{status},
			</if>
			<if test="remark != null">
				remark = #{remark},
			</if>
			<if test="isDeleted != null">
				is_deleted = #{isDeleted},
			</if>
			<if test="createBy != null">
				create_by = #{createBy},
			</if>
			<if test="updateBy != null">
				update_by = #{updateBy},
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime},
			</if>
		</set>
		<where> id = #{id} </where>
	</update>

  <!--删除接口开始-->
	<delete id="deleteById" >
		delete from t_mem_auth_module
		<where> id = #{id} </where>
	</delete>

	<delete id="batchDelete">
		delete from t_mem_auth_module
		<where>
			id in
			<foreach collection="idList" item="id" open="(" close=")" separator=",">
			#{id}
			</foreach>
		</where>
	</delete>

  <!--查询接口开始-->
  <select id="queryPage" resultMap="BaseResultMap" parameterType="com.kevin.mem.mng.domain.entity.AuthModule">
    select
	  tmam.id,  tmam.name,  tmam.module_id,  tmam.url,  tmam.type,  tmam.status , tmm.name as moduleName
    from t_mem_auth_module tmam
	left join t_mem_module tmm
	on tmam.module_id = tmm.id
    <where>
		<if test="name != null">
			and tmam.name = #{name}
		</if>
		<if test="moduleId != null">
			and tmam.module_id = #{moduleId}
		</if>
		<if test="url != null">
			and tmam.url = #{url}
		</if>
		<if test="type != null">
			and tmam.type = #{type}
		</if>
		<if test="status != null">
			and tmam.status = #{status}
		</if>
    </where>
  </select>

  <select id="selectById" resultMap="BaseResultMap">
    select
	  tmam.id,  tmam.name,  tmam.module_id,  tmam.url,  tmam.type,  tmam.status , tmm.name as moduleName
	from t_mem_auth_module tmam
	left join t_mem_module tmm
	on tmam.module_id = tmm.id
    <where> tmam.id = #{id} </where>
  </select>
</mapper>

	